<div class="relative overflow-hidden bg-forest pb-28 pt-4 text-white">
  <svg class="absolute bottom-0 left-0 w-full text-stone-50" viewBox="0 0 390 48" preserveAspectRatio="none" aria-hidden="true" style="height: 3rem">
    <path fill="currentColor" d="M0 20 Q97 48 195 28 T390 22 V48 H0 Z" />
  </svg>
  <div class="relative z-10" data-include="components/add-medication-toolbar/add-medication-toolbar.html"></div>
  <div class="relative z-10" data-include="components/type-carousel/type-carousel.html"></div>
</div>
